<!DOCTYPE html>

<html>

<head>

</head>

<body>
    <div class="main-content">

        {{>header}}
        <link rel="stylesheet" href="./css/styles.css">
        {{errormsg}}

    </div>

    {{>footer}}

</body>

</html>