<!DOCTYPE html>

<html>

<head>
    <title>About </title>
    <link rel="icon" href="/movie.png">
</head>

<body>
    <div class="main-content">

        <link rel="stylesheet" href="./css/styles.css">
        {{>header}}

        <img src="/about.jpg" width="250px">

        <p>
            <marquee>This Site is Created by Sridhar Jatla. It gives you information about
                movies globally using OMDB.com</marquee>
        </p>
    </div>


    {{>footer}}
</body>

</html>